/* RESET STYLES */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

/* RESET STYLES */

@font-face {
    font-family: 'Norse';
    src: url('../assets/fonts/Norse-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('../assets/fonts/Norse.woff2') format('woff2'),
        url('../assets/fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --default_color: #E5E7EB;
    --focus_color: blue;
    --invalid_color: red;
}

body{
    display: flex;
    font-family:  'Roboto', sans-serif;
}

.main_left_container {
    display: flex;
    position: relative;
}

.main_left_container img {
    max-height: 100vh;
}

.left_logo_text{
    /* flex car il faut que les block enfants soient en direction rows */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* ici la position absolue permet de pouvoir bouger le div ou on veut dans l'image à condition que le div dans lequel il se trouve soit en relative */
    position: absolute; 
    top: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.left_photo_credits{
    width: 100%;
    position: absolute;
    bottom: 20px;
    color: white;
    text-align: center;
    font-size: 14px;
}

.left_logo_text img{
    width: 150px;
}

.left_logo_text p{
    font-family: "Norse";
    font-weight: bold;
    font-size: 108px;
}


.main_right_container {
    display: flex;
    flex-direction: column;
    background-color: #eeee;
}

.right_top_text {
    padding-left: 50px;
    padding-top: 200px;
    padding-bottom: 75px;
    padding-right: 150px;
    font-weight: bold;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1.2rem 2rem 2rem;

}

.form_container{
    display: flex;
    gap: 5rem;
    padding: 1.5rem 0rem 0rem;
}

.form_container > div{
    display:flex;
    flex-direction: column;
}

.form_container > div > input{
    background-color: #FFFFFF;
    border: 0.15rem solid #c6c9cc;
    border-radius: 6px;
    font-size: 1.3rem;
}

.form_container > div > label{
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

input::placeholder {
  color: rgba(128, 128, 128, 0.3);
}

.form_container > div > input:focus {
    outline: none;
    border: 0.15rem solid blue;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.form_container > div > input[type="password"]:invalid {
    outline: none;
    border: 0.15rem solid red;
}
.right_footer{
    padding: 2rem 4rem;
}

.right_footer button{
    background-color: #596D48;
    color: white;
    font-weight:600;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 4rem;
    border-radius: 7px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    border: none;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.right_footer button:hover{
  background-color: #4b5c3b;
}

.right_footer button:active {
  background-color: #3f4a33;
  transform: translateY(1px);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.right_footer > p{
    font-size: 1.2rem;
}
/* il faut le placer en premier car sinon ça écrase le reste règle du LVAH, link->visited->active->hover */
.right_footer a:link,
.right_footer a:visited {
  color: #596D48;          /* la couleur que tu veux */
  text-decoration: none; /* optionnel */
}

.right_footer a{
    color: #596D48;
    text-decoration: none; 
    font-weight: bold;
}

.right_footer a:active {
  color: #2f3b25; 
}


.right_footer a:hover {
  color: #4b5c3b; 
}

